.smoke-forecast-time-indicator {
    width: 4px;
    height: 4px;
    // margin: 1px;
    border: 1px solid rgb(209, 136, 2);
    border-radius: 50%;
    cursor: pointer;
}

.smoke-forecast-time-indicator.is-active {
    background-color: rgb(209, 136, 2);
}

.play-pause-btn {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: .25rem;
    cursor: pointer;

    svg {
        fill: rgb(209, 136, 2);
    }
}