 html, body, #mapDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    overflow: hidden;
}

.square-reference-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: solid 1px rgba(103,0,67, .75);
    box-shadow: 0 0 3px rgba(103,0,67, .9);
    z-index: 10;
}

.side-bar {
    position: absolute;
    width: 450px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(26, 0, 17, 0.8);
    overflow: auto;
    color: #B77600;
}

.inputs-container .hDivider {
    height: 1px;
    width: 100%;
    background-color: #670043;
}

.inputs-container label {
    margin: 0 0 .8rem 0;
}

.fire-name-search-input{
    background-color: rgba(26, 0, 17, 1);
    border: 1px solid #B77600;
    color: #B77600;
}

.fire-name-search-input:focus {
    border-color: #B77600;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px #B77600
}

.fire-name-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B77600;
}
.fire-name-search-input::-moz-placeholder { /* Firefox 19+ */
    color: #B77600;
}
.fire-name-search-input:-ms-input-placeholder { /* IE 10+ */
    color: #B77600;
}
.fire-name-search-input:-moz-placeholder { /* Firefox 18- */
    color: #B77600;
}

.panel-no-background {
    background-color: rgba(0,0,0,0);
}

.suggestion-list-container {
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 1000;
    background-color: rgba(26, 0, 17, .9);    
    border-left: 1px solid rgba(183, 118, 0, 0.25);
    border-right: 1px solid rgba(183, 118, 0, 0.25);
}

.suggestion-list-container > div {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(183, 118, 0, 0.25);
}

.suggestion-list-container > div:hover {
    background-color: #B77600;
    color: white;
} 

.affected-area-filter{
    display: flex;
    align-items: center;
}

.filter-wrap {
    cursor: pointer;
}

.filter-wrap .fa-square-o {
    display: inline-block;
}

.filter-wrap .fa-check-square-o {
    display: none;
}

.filter-wrap.checked .fa-square-o {
    display: none;
}

.filter-wrap.checked .fa-check-square-o {
    display: inline-block;
}

.smoke-layer-toggle-btn {
    cursor: pointer;
}

.smoke-layer-toggle-btn .fa-square-o {
    display: inline-block;
}

.smoke-layer-toggle-btn .fa-check-square-o {
    display: none;
}

.smoke-layer-toggle-btn.checked .fa-square-o {
    display: none;
}

.smoke-layer-toggle-btn.checked .fa-check-square-o {
    display: inline-block;
}



.legend-icon {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    background: url("../img/FireSymbol.png") no-repeat center; 
}

.legend-icon.legend-class-4 {
    background-size: 100%;
}

.legend-icon.legend-class-3 {
    background-size: 80%;
}

.legend-icon.legend-class-2 {
    background-size: 60%;
}

.legend-icon.legend-class-1 {
    background-size: 40%;
}

.legend-icon.legend-class-0 {
    background-size: 20%;
}

.legend-grid .legend-icon {
    border: solid 1px rgba(0,0,0,0);
}

.legend-grid .legend-icon:hover {
    border-top: solid 1px #670043;
    border-left: solid 1px #670043;
    border-right: solid 1px #670043;
}

.bottom-pct-indicator {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #B77600;
}

.highlight-bar {
    /* width: 50%; */
    height: 100%;
    background-color: #670043;
}

.search-input-wrap{
    position: relative;
}

.search-input-btns-wrap {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    padding: 5px 0 5px;
    /* background-color: #e0e0e0; */
}

.search-input-btn {
    width: 35px;
    /* height: 100%; */
    color: #B77600;
    line-height: 28px;
}

.search-input-btn:nth-child(1){
    border-right: solid 1px #B77600;
}

.search-input-wrap .fa-search, 
.search-input-wrap .fa-caret-down {
    display: inline-block;
}

.search-input-wrap .fa-times, 
.search-input-wrap .fa-caret-up {
    display: none;
}

.search-input-wrap.is-search-input-filled .fa-search,
.search-input-wrap.is-dropdown-menu-visible .fa-caret-down {
    display: none;
}

.search-input-wrap.is-search-input-filled .fa-times,
.search-input-wrap.is-dropdown-menu-visible .fa-caret-up {
    display: inline-block;
}

.esriPopup .contentPane {
    background-color: rgba(26, 0, 17, 0.75);
    color: #B77600;
    /* max-width: 250px; */
    line-height: 24px;
    font-size: 16px;
    /* font-weight: 100; */
}

.esriPopup .esriPopupWrapper {
    box-shadow: none;
}

.esriPopup .actionsPane {
    display: none;
}

.esriPopup .titlePane {
    display: none;
}

.esriPopup .pointer,
.esriPopup .outerPointer {
    display: none !important;
}

.customized-popup-header {
    border-bottom: solid 1px rgba(183, 118, 0, 0.5);
    padding-bottom: .3rem;
}

.cursor-pointer {
    cursor: pointer;
}

.pb-0 {
    padding-bottom: 0;
}

.customized-card {
    background-color: rgba(26, 0, 17, 0.3);
    /* background-color: rgba(0, 0, 0, 0);  */
    border: solid 1px rgba(103,0,67,.6);
    box-shadow: none;
    /* cursor: pointer; */
}

.customized-card:hover {
    background-color: rgba(26, 0, 17, 0.7);
    border: solid 1px rgba(103,0,67, 1);
}


.timeline-item {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.date-info {
    position: relative;
    width: 75px;
    height: 50px;
    line-height: 50px;
}

.date-info::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: -15px;
    width: 15px;
    height: 1px;
    background-color: rgba(103,0,67, .8);
    /* border-radius: 50%; */
}

.timeline-item .fire-info-wrap { 
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    border-left: solid 1px rgba(103,0,67, 1);
}

.fire-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timeline-month-title {
    background-color:rgba(103,0,67, .5);
}

.breadcrumb-nav span{
    opacity: .7;
    cursor: pointer;
}

.breadcrumb-nav span.is-active{
    opacity: 1;
    font-weight: 600;
}

.pseudo-divider::after {
    content: '/';
    font-weight: 400;
    padding: 0 .2rem 0 .4rem;
    display: inline-block;
    opacity: 1;
}

.fire-filters-title {
    opacity: .85;
}

.customized-modal {
    background-color: rgba(26, 0, 17, 0.8);
    color: #B77600;
}

.customized-modal .btn {
    color: #B77600;
    background: rgba(103,0,67, 0);
    border-color: rgba(103,0,67, .9);
}

.customized-modal a {
    color: #F2B240;
}



