 html, body, #mapDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    overflow: hidden;
}

.side-bar {
    position: absolute;
    width: 425px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(26, 0, 17, 0.7);
    overflow: auto;
    color: #B77600;
}

.inputs-container .hDivider {
    height: 1px;
    width: 100%;
    background-color: #670043;
}

.inputs-container label {
    margin: 0 0 .8rem 0;
}

.fire-name-search-input{
    background-color: rgba(26, 0, 17, 1);
    border: 1px solid #B77600;
    color: #B77600;
}

.fire-name-search-input:focus {
    border-color: #B77600;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px #B77600
}

.fire-name-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B77600;
}
.fire-name-search-input::-moz-placeholder { /* Firefox 19+ */
    color: #B77600;
}
.fire-name-search-input:-ms-input-placeholder { /* IE 10+ */
    color: #B77600;
}
.fire-name-search-input:-moz-placeholder { /* Firefox 18- */
    color: #B77600;
}

.panel-no-background {
    background-color: rgba(0,0,0,0);
}

.suggestion-list-container {
    position: absolute;
    width: 100%;
    top: 39px;
    z-index: 1000;
}

.suggestion-list-container > div {
    padding: 5px;
    background-color: rgba(26, 0, 17, 1);    
}

.suggestion-list-container > div:hover {
    background-color: #B77600;
    color: white;
} 

.affected-area-filter{
    display: flex;
    align-items: center;
}

.legend-icon {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url("../img/FireSymbol.png") no-repeat center; 
}

.legend-icon.legend-class-1 {
    background-size: 100%;
}

.legend-icon.legend-class-2 {
    background-size: 80%;
}

.legend-icon.legend-class-3 {
    background-size: 60%;
}

.legend-icon.legend-class-4 {
    background-size: 40%;
}

.legend-grid .legend-icon {
    border: solid 1px rgba(0,0,0,0);
}

.legend-grid .legend-icon:hover {
    border-top: solid 1px #670043;
    border-left: solid 1px #670043;
    border-right: solid 1px #670043;
}

.bottom-pct-indicator {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #B77600;
}

.highlight-bar {
    /* width: 50%; */
    height: 100%;
    background-color: #670043;
}

.search-input-wrap{
    position: relative;
}

.search-input-btns-wrap {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    padding: 5px 0 5px;
    /* background-color: #e0e0e0; */
}

.search-input-btn {
    width: 35px;
    /* height: 100%; */
    color: #B77600;
    line-height: 28px;
}

.search-input-btn:nth-child(1){
    border-right: solid 1px #B77600;
}