@import '~calcite-web/dist/css/calcite-web.min.css';

// customize style for ArcGIS JS API Popup Window
#root {
    .esri-popup{
        .esri-widget {
            background-color: transparent;
            color: rgb(209, 136, 2);

            a {
                color: rgb(209, 136, 2);
            }
        }

        .esri-popup__main-container,
        .esri-popup__pointer-direction,
        .esri-popup__navigation { 
            background-color: rgba(26,0,17,1);
            color: rgb(209, 136, 2);
        }

        .esri-popup__header-title:hover,
        .esri-popup__button:hover {
            background-color: rgba(26,0,17,.5);
        }

        .esri-popup__header-container--button {
            background: transparent;
            border-color: transparent;
            color: rgb(209, 136, 2);
        }

        .esri-feature-content {
            background: rgba(26,0,17,1);
        }
        .esri-widget__heading.esri-popup__header-title {
            color: rgb(209, 136, 2);
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}
