.timeline-item {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.date-info {
    position: relative;
    width: 75px;
    height: 50px;
    line-height: 50px;
}

.date-info::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: -15px;
    width: 15px;
    height: 1px;
    background-color: rgba(103,0,67, .8);
    /* border-radius: 50%; */
}

.timeline-item .fire-info-wrap { 
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    border-left: solid 1px rgba(103,0,67, 1);
}

.fire-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timeline-month-title {
    background-color:rgba(103,0,67, .5);
}