@import '~calcite-web/dist/css/calcite-web.min.css';

/* load esri styles for version 4.10 via import in main scss file */
@import url('https://js.arcgis.com/4.10/esri/css/main.css');

.side-bar {
    position: absolute;
    top: 0;
    right: 0;
    // width: 450px;
    height: 100%;
    z-index: 100;
    background-color: rgba(26, 0, 17, 0.8);
    overflow: auto;
    color: #B77600;

    .content-wrap {
        padding: 1rem;
    }
}

.legend-icon {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    background: url("../assets/img/FireSymbol.png") no-repeat center; 
}

.legend-icon.legend-class-4 {
    background-size: 100%;
}

.legend-icon.legend-class-3 {
    background-size: 80%;
}

.legend-icon.legend-class-2 {
    background-size: 60%;
}

.legend-icon.legend-class-1 {
    background-size: 40%;
}

.legend-icon.legend-class-0 {
    background-size: 20%;
}