.customized-info-window{
    color: #B77600;
    padding: .75rem;
    max-width: 300px;

    .info-window-links {
        border-top: solid 1px #670043;
    }

    a {
        color: #B77600;  
    }
}